{deps, [
       {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", "master"}},
       {jiffy, "0.8.1", {git, "git://github.com/davisp/jiffy.git", "0.8.1"}},
       {eunit, "%VSN%", {git, "git://github.com/golya/eunit.git", "colorized"}},
       {ex_fcgi, "1.0.0", {git, "git://github.com/extend/ex_fcgi.git", "1.0.0"}}

]}.

{sub_dirs, ["apps/ed", "rel"]}.

{eunit_opts, [verbose, debug, {report,{eunit_surefire,[{dir,"."}]}}]}.